* {
  padding: 0;
  margin: 0;
}

.button-custom:hover {
  background-color: #e6e5e5;
}

.button-custom {
  width: 95%;
  position: relative;
  padding-left: 0px;
  text-align: start;
}

.background-class {
  height: 100px;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  opacity: 0.9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 576px) {
  .button-hide {
    display: none;
  }
}
